* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(67, 65, 65);
}

.banner {
  width: 1440px;
  height: 669px;
  margin: 0 auto;
  background-image: linear-gradient(
      to top,
      rgba(75, 75, 75, 0.466),
      rgba(25, 25, 25, 0.462)
    ),
    url(./images/donation8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-holder {
  width: 1440px;
  height: 669px;
}
.banner-content {
  width: 826px;
  height: 320px;
  text-align: center;
  color: rgb(251, 245, 245);
}

.header {
  font-size: 60px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  margin: 25px 0;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: #ff5959;
  border-radius: 5px;
}

/* Banner Section End here */



