* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2eeee;
}
.banner {
  width: 1440px;
  height: 669px;
  margin: 0 auto;
  background-image: linear-gradient(
      to top,
      rgba(75, 75, 75, 0.466),
      rgba(25, 25, 25, 0.462)
    ),
    url(./images/donation8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-holder {
  width: 1440px;
  height: 669px;
}
.banner-content {
  width: 826px;
  height: 320px;
  text-align: center;
  color: rgb(251, 245, 245);
}

.header {
  font-size: 60px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  margin: 25px 0;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: #ff5959;
  border-radius: 5px;
}

.btn:hover{
  background-color: white;
  color: #ff5959;
}

/* Banner Section End here */

/* Donate Section start here */

.donate {
  width: 60vw;
  margin: 100px auto;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 50px;
}

.sub-header {
  font-size: 35px;
  font-weight: bold;
}
.donate-money {
  margin: 50px 0;
}

.donate-money h3 {
  margin: 0 15px;
  padding: 15px 10px;
  background-color: #fafafa;
  color: gray;
  border: 1px solid transparent;
}

.donate-money .activ {
  color: #ff5959;
  border: 1px solid #ff5959;
  background-color: #f6e6e6;
}

.donate-money h3:hover {
  border: 1px solid #ff5959;
  cursor: pointer;
}

.donate-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount {
  width: 70%;
  margin: 25px 0;
  padding: 15px 0;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  border-radius: 10px;
}

/* Donate plan start here */

.donate-plan {
  width: 1440px;
  margin: 0 auto;
}

.plan-heading {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.plan {
  width: 25%;
  margin: 25px 25px;
  padding: 25px;
  border-radius: 10px;
}

.plan:hover {
  cursor: pointer;
}

.plan img {
  margin: 15px 0;
}

.food {
  background-color: rgb(219, 251, 240);
}

.shelter {
  background-color: rgb(250, 234, 215);
}

.education {
  background-color: rgb(242, 253, 223);
}

/* Corporate Section Start here */

.corporate {
  width: 60vw;
  margin: 50px auto;
  text-align: center;
}

.icon {
  margin: 50px 0;
}

.icon img {
  width: 80px;
  margin: 0 80px;
  cursor: pointer;
}

/* Nwes Section start here */

.news {
  width: 1440px;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.news-div {
  width: 30%;
  height: 65vh;
  text-align: center;
  margin: 25px 1.5%;
  background-color: rgb(241, 248, 250);
  box-shadow: 0px 0px 5px rgb(172, 175, 176);
}

.news-div:hover {
  box-shadow: none;
  cursor: pointer;
}

.news-img {
  height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.news-img img {
  width: 100%;
  height: auto;
}

.news-detail {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news-btn {
  text-decoration: none;
  color: #ff5959;
  padding: 10px 15px;
  border-radius: 10px;
}

.news-btn:hover {
  background-color: #ff5959;
  color: white;
}

/* Updates Section start here */

.updates {
  width: 1440px;
  margin: 50px auto;
  text-align: center;
}

.update-info {
  width: 50%;
  margin: 0 auto;
  height: 150px;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
}

form {
  width: 100%;
  position: relative;
}

form input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
}

form label {
  position: absolute;
  right: 145px;
  top: 0;
  bottom: 0;
  font-size: 18px;
  background-color: #ff5959;
  padding: 11px;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* footer Section start here */

footer{
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(54, 52, 52);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a{
  color: white;
}
